*,
*::after,
*::before{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

body{

    min-height: 100vh;

    /** Typography **/
    font-family: 'Hanken Grotesk', sans-serif;;

    /** Layout **/
    display: flex;
    justify-content: center;
    align-items: center;
}


/*** -------------------CSS Variables for reusability across all files----------------------- ***/
:root {
    --poppins: 'Poppins', sans-serif;
    --container-padding: 2rem;
}