
/* CSS Resets  */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body {
    /** Typography **/
    font-family: 'Hanken Grotesk', sans-serif;

    /** Box Model **/
    min-height: 100vh;
}

img {
    display: inline-block;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
    font-family: inherit;
}

